In [4]:
import numpy as np

In [5]:
import numpy.random as random

In [6]:
import pandas as pd

# 2.1. Ouverture du fichier csv sur notebook

In [7]:
# chargement du fichier
data_french_museums = pd.read_csv("liste-des-musees-de-france-2021-fonctionnel.csv")

# afficher les 5 premières lignes pour tester la bonne importation
data_french_museums.tail()

,osm_id,name,number,street,postal_code,city,country,country_code,lat,lon,website,email,phone,fax,tags,description,date_added,wikidata
3779,1348524503,Vivarium du Moulin,NaN,Rue Principale,68610.0,Thann-Guebwiller,France,fr,47.942258,7.149613,NaN,NaN,NaN,NaN,osm:museum,NaN,"40747,87175",NaN
3780,577287841,Voyage au Temps des impressionnistes,NaN,Rue de Léry,95430.0,Auvers-sur-Oise,France,fr,49.072057,2.166167,NaN,NaN,NaN,NaN,osm:museum,NaN,"41141,72722",NaN
3781,145062184,Wines and Spirits Museum,NaN,Corniche Bonaparte,83150.0,Bandol,France,fr,43.128031,5.749484,NaN,NaN,NaN,NaN,osm:museum,NaN,"42367,71351",NaN
3782,82988725,Xanxotea,NaN,La Place,64240.0,Isturits,France,fr,43.364834,-1.203580,http://www.xanxotea.com/,NaN,NaN,NaN,osm:museum,Musée ethnographique Xanxotea pour découvrir l...,"44129,58078",NaN
3783,277107550,Xylotheque - Kiosque Pedagogique,NaN,Impasse de la Haie Vive,45590.0,Saint-Cyr-en-Val,France,fr,47.825888,1.967795,NaN,NaN,NaN,NaN,osm:museum,NaN,"43331,47584",NaN

# 2.2. Réponses aux questions posées par le manager

Combien y-a-t-il de musées en France métropolitaine ?

In [75]:
#renvoie le nombre de ligne comprises dans cette data frame auxquelles il faut retirer 1 pour ne pas considérer la ligne des titres
number = data_french_museums.shape

print ("On dénombre", (number[0]), "musées")

On dénombre 3784 musées

Dans quelle(s) ville(s) y-a-t-il de plus de musées ?

In [10]:
#gather museums by city 
museum_quantity = data_french_museums["city"].value_counts()

#then, extract which city.es encount the most museums
city_with_most_museums = museum_quantity.idxmax()

print("La ville de", city_with_most_museums)

La ville de Paris

Quel est le nombre moyen de musées par ville ?

In [11]:
museum_average_by_city = data_french_museums["city"].value_counts().mean().round(2)

print("Il y a en moyenne", museum_average_by_city, "musée par ville.")

Il y a en moyenne 1.65 musée par ville.

Quel est le nombre médian de musées par ville ?

In [19]:
museum_median_by_city = data_french_museums["city"].value_counts().median()

print("Le nombre médian des musées par ville est de", int(museum_median_by_city), "musée.")

Le nombre médian des musées par ville est de 1 musée.

Comment sont répartis les musées par type (en pourcentage) ?

In [105]:
#split every entry of "tags" column with the selector ";"
tags = data_french_museums["tags"].str.split(";")

#flat my array in the same time it keeps for every data its initial uniq key
tags = tags.explode()

#capture every string starting with "type:" with the rest of the string "(.*)"
tags_type = tags.str.extract(r"^type:(.*)")

#obtain % of each type
result = (tags_type.value_counts()*100)/ data_french_museums.shape[0]

print("Voici une répartition des différents types de musée (en pourcentage):")
display(result)

Voici une répartition des différents types de musée (en pourcentage):

ecomusee                         10.491543
musee technique et industriel     5.549683
musee d'histoire                  4.254757
musee de beaux-arts               3.303383
musee archeologique               2.880550
musee d'art                       2.880550
maison d'artiste                  1.717759
musee d'arts populaires           1.532770
musee d'histoire naturelle        1.506342
centre d'interpretation           1.215645
musee litteraire                  0.872093
musee de sciences                 0.607822
centre d'art                      0.528541
fondation                         0.475687
musee d'artiste                   0.396406
atelier d'artiste                 0.211416
bibliotheque                      0.105708
musee ethnographique              0.079281
musée de beaux-arts               0.052854
type:musee d'arts populaires      0.052854
musee d'architecture              0.026427
maison litteraire                 0.026427
ecomuseum                         0.026427
musee d'art populaire             0.026427
dtype: float64

Combien y-a-t-il de musées dont le nom commence par "Château" ?

In [117]:
museum_with_castle_title = data_french_museums["name"].str.startswith("Château").value_counts()

print("Il y a", museum_with_castle_title[True], "musées dont le nom commence par 'Château'.")

Il y a 57 musées dont le nom commence par 'Château'.

Pour combien de musées dispose-t-on de l'adresse du site web ?

In [120]:
with_website = data_french_museums["website"].count()

print("Il y a", with_website, "musées.")

Il y a 1636 musées.

Quel département français possède le plus de musées sur son territoire ?

In [127]:
# .astype(str) convert float into string, then str[:2] display every chars until position #2 excluding position #2
dep_with_most_museums = data_french_museums["postal_code"].astype(str).str[:2].value_counts().idxmax()

print("C'est le département", dep_with_most_museums)

C'est le département 75

Quel département français possède le moins de musées sur son territoire ?

In [131]:
dep_with_most_museums = data_french_museums["postal_code"].astype(str).str[:2].value_counts().idxmin()

print("C'est le département", dep_with_most_museums)

C'est le département 98

Combien de musées ont "Napoléon" dans leur nom ?

In [135]:
museum_with_napoleon_title = data_french_museums["name"].str.contains("Napoléon").value_counts()

print("En France Métropolitaine,", museum_with_napoleon_title[True], "musées contiennent le mot 'Napoléon' dans leur nom.")

En France Métropolitaine, 4 musées contiennent le mot 'Napoléon' dans leur nom.

# 2.3. Proposition de deux axes d'analyse supplémentaires

Top 5 des musées les plus fréquentées : 
source (2005 à 2018) se trouve "https://www.insee.fr/fr/statistiques/4277723?sommaire=4318291", on peut y télécharger le fichier xlsx. Fichier à transformer en csv. 
À l'aide de ce fichier csv, utiliser la fonction .sorted() pour classer la colonne 2018 par ordre croissant. Retirer les établissemnts qui ne sont pas des musées. 
De cette liste on pourra extraire quels sont les 5 musées qui ont été le plus fréquenté.

Flop 5 des musées qui font le moins envie: 
Source (2016) : https://www.topito.com/top-musees-pas-sexy-bonjour-ennui
Là, il s'agira de scrapper les données en recherchant les noms des musées (css.h1).